
/* BEGIN sticky footer 
   http://getbootstrap.com/examples/sticky-footer-navbar/
*/
html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap  > .container {
  padding:  60px 15px 0;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  padding-top:  20px;
}
/* END sticky footer */

.navbar-default {
    background-color:  #428bca;
}
.navbar-default a {
    color:  #fff;
}
.navbar-default .navbar-nav >  li > a {
    color:  #fff;
}

.jumbotron h1 {
    color:  #428bca;
}

#lumberg {
    border-radius:  50px;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.app-view-loading-indicator {
    text-align: center;
    margin: 100px;
}
.app-view-loading-indicator .progress-bar {
    width:  100%;
}
.app-view {
    opacity: 1;
    height: auto;
    transition: opacity .2s ease-in;
}
.app-view.is-loading {
    opacity: 0; 
    height: 0;
}

.go-back {
    display:  block;
    margin:  20px 0px 20px 0px;
}

.search-box {
    margin-top:  1.3em;
}
.col-actions {
    text-align: right;
    width: 20%;
}
.edit-portfolio-action {
    margin-right:  1.3em;
}
.col-percentage {
    width: 20%;
    text-align:  right;
}
.col-percentage input {
    text-align:  right;
    width:  5em;
    float:  right;
}
.row-total {
    font-weight:  bold;
    font-size:  1em;
}
.add-investment-title h2 {
    display:  inline-block;
    margin-right: 30px;
}
.add-investment-title a {
    margin-bottom: 1em;
}
.modal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}
.buy {
    color:  #157a01;
}
.sell {
    color:  #990808;
}
.hold {
    color:  #b0ad08;
}
.no-data {
    padding-top:  2em;
    padding-bottom:  2em;
    font-style: italic;
    color:  #808080;
}
.has-error {
    color:  red;
}

.sorted:after {
     content: '▲';
}
.sorted.descending:after {
    content: '▼';
}

.chart {
    width:  300px;
    height:  200px;
}