
        <div data-bind="visible: isViewLoading" class="app-view-loading-indicator progress progress-striped active">
            <div class="progress-bar"></div>
        </div>


         <div class="app-view" data-bind="css: {'is-loading': isViewLoading}">
             <div class="row">
                <div class="col-md-3">
                    <input data-bind="value: searchTerm, valueUpdate: 'keyup'" type="text" class="form-control search-box" placeholder="Search" />
                </div>
            </div>

            <div class="row">
                 <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a data-bind="click: function(){sortBy('name');}" href="javascript:;">Name</a>
                                <span class='sorted' data-bind="visible: sortingByColumn()==='name', css: {'descending': sortingDesc}"></span>
                            </th>
                            <th>
                                 <a data-bind="click: function(){sortBy('strategy');}" href="javascript:;">Strategy</a>
                                <span class='sorted' data-bind="visible: sortingByColumn()==='strategy', css: {'descending': sortingDesc}"></span>
                            </th>
                            <th>
                                <a data-bind="click: function(){sortBy('date');}" href="javascript:;">Next Review Date</a>
                                <span class='sorted' data-bind="visible: sortingByColumn()==='date', css: {'descending': sortingDesc}"></span>
                            </th>
                            <th><!--Actions--></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: filteredPortfolios">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: strategy"></td>
                            <td  data-bind="displaydate: nextReviewDate"></td>
                            <td class="col-actions">
                                <a class="edit-portfolio-action btn btn-xs btn-primary" href="javascript:;" data-bind="attr: {'href': '#edit/'+$data.id}">Edit</a>
                                <a class="btn btn-xs btn-danger"  data-bind="click: $parent.destroy">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <div class="row" data-bind="visible: filteredPortfolios().length === 0">
                <div class="no-data">
                    No portfolios match your current search filter.  
                </div>    
            </div>

            <div class="row">
                <a href="#new" class="edit-portfolio btn btn-primary">Create New</a>             
             </div>
        </div>

           